input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-content {

    border-radius: 10px;
    border: solid;
    padding: 20px;
    display: flex;
    width: 80%;
    background: white;
    /* flex-direction: column; */


}

.text-field {
    width: 90%;

    border-bottom: solid gray 2px;

    margin-bottom: 20px;
}

.text-field input {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 20px;
    height: 40px;
    font-size: 19px;
}


.text-field label:hover {
    color: #2691d9;
    font-weight: 400;
    transition: .59s;

}

button {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #e9f4fb;


}

.Add-budget {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2691d9;
    border-radius: 25px;
    margin-top: 40px;


}